# flamingo gitignore

# non-desirable temporary/object/executables
*.o
*.bin
*.out
Main.java
Main.class

# files created during Makefile
flamingo
lex.yy.c
y.tab.c
y.tab.h
flamingompiler
symbolTableTests

# debugging
*.dSYM

#OS
.DS_STORE
